.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.spendingItem {
    display: flex;
    flex-direction: row;
    width: 50pc;
    border: 1px black solid;
    justify-content: space-between;
    padding: 5px;
}

.spendingItem .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
}

.inputWrapper input {
    padding: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
}

.dropdown .dropdownBtn {
    padding: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.dropdown .dropdownContent {
    padding: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
}

.dropdown .dropdownItem {
    cursor: pointer;
    transition: all .1s;
}

.dropdown .dropdownContent .dropdownItem:hover {
    background-color: rgb(225, 222, 222, .5);
}
